<nav class="navbar navbar-expand-sm navbar-dark bg-primary mb-3">
<div class="container">
    <a href="/" class="navbar-brand">Lets_go_Proveidors</a>

    <div class="collapse navbar-collapse" id="mobile-nav">
        <ul class="navbar-nav ml-auto">
            <il class="nav-item">
                <a href="/" class="nav-link">Home</a>
            </il>
            <il class="nav-item">
                <a href="/proveidor/new" class="nav-link">New Proveidor</a>
            </il>
        </ul>
    </div>
</div>
</nav>
